streamlit==1.27.2
pandas==2.1.4
requests==2.31.0
transformers>=4.44.0
torch==2.2.2
safetensors==0.4.3
sentencepiece==0.1.99
geocoder
matplotlib>=3.0.0
gspread
oauth2client
firebase-admin
geopy
streamlit-javascript
plotly>=5.0.0
wordcloud>=1.8.1
beautifulsoup4
